@import 'node_modules/@citizensadvice/cads/index.scss';

.button-1,
.button-1-secondary {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: $border-scale-2;
  padding: $spacing-3 $spacing-4;
  color: $heritage-blue;
  font-family: 'Open Sans', helvetica, 'helvetica neue', arial, sans-serif;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-2;
  line-height: $line-height-2;
}

.button-1 {
  background-color: $turquoise-primary;
  box-shadow: inset 0 0 0 $border-scale-2 $turquoise-primary;

  &:hover {
    background-color: $turquoise-dark;
    box-shadow: inset 0 0 0 $border-scale-2 $turquoise-dark;
  }

  &:focus {
    box-shadow: inset 0 0 0 $border-scale-2 $heritage-yellow;
  }

  &-secondary {
    background-color: $white;
    box-shadow: inset 0 0 0 $border-scale-2 $turquoise-primary;

    &:hover {
      background-color: $turquoise-light;
      box-shadow: inset 0 0 0 $border-scale-2 $turquoise-dark;
    }

    &:focus {
      box-shadow: inset 0 0 0 $border-scale-2 $heritage-yellow;
    }
  }

  &-tertiary {
    box-shadow: inset 0 0 0 $border-scale-1 $blue-dark !important;
  }

  &:focus {
    box-shadow: inset 0 0 0 $border-scale-2 $heritage-yellow !important;
  }
}

.text-input-1 {
  display: inline-block;
}

.text-input-1 textarea,
.text-input-1 input {
  border: none;
  box-shadow: inset 0 0 0 $border-scale-2 $light-grey;
  outline: none;
  line-height: $line-height-2;
  font-weight: $font-weight-semi-bold;
  border-radius: $border-scale-2;
  padding: $spacing-3 $spacing-3;
}

.text-input-1 textarea:hover,
.text-input-1 input:hover {
  box-shadow: inset 0 0 0 $border-scale-2 $mid-grey;
}

.text-input-1 textarea:focus,
.text-input-1 input:focus {
  box-shadow: inset 0 0 0 $border-scale-2 $heritage-yellow;
}
